<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.SpecificationMapper">
	<insert id="insertByO" parameterType="com.sc.pojo.Specification">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into tb_specification (id, spec_name)
		values (#{id,jdbcType=BIGINT}, #{specName,jdbcType=VARCHAR})
	</insert>

	<select id="selectOptionList" resultType="java.util.Map">
		select id,spec_name as text from tb_specification
	</select>
</mapper>
